#set ($collection_name = "${ROOT_PKG}" )
/*
* Created on $today.date ( Time $today.time )
* Generator tool : $generator.name ( version $generator.version )
* Copyright 2018 Geo. All Rights Reserved.
*/

package ${target.javaPackageFromFolder(${SRC})};

import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import springfox.documentation.builders.PathSelectors;
import springfox.documentation.builders.RequestHandlerSelectors;
import springfox.documentation.service.ApiInfo;
import springfox.documentation.service.Contact;
import springfox.documentation.service.StringVendorExtension;
import springfox.documentation.service.VendorExtension;
import springfox.documentation.spi.DocumentationType;
import springfox.documentation.spring.web.plugins.Docket;
import springfox.documentation.swagger2.annotations.EnableSwagger2;

import java.util.ArrayList;
import java.util.Collection;

/**
 * @author Geo
 */
@Configuration
@EnableSwagger2
public class SwaggerConfig {
    @Bean
    public Docket api() {
        return new Docket(DocumentationType.SWAGGER_2)
                .select()
                .apis(RequestHandlerSelectors.any())
                .paths(PathSelectors.any())
                .build()
				.apiInfo(apiInfo());
    }
    private ApiInfo apiInfo() {
         Collection<VendorExtension> vendorExtensions = new ArrayList<>();
         vendorExtensions.add( new StringVendorExtension("owner", "Backend-REST"));
         vendorExtensions.add( new StringVendorExtension("development_team", "Backend-REST"));

         Contact contactInfo = new Contact("It", "http://www.google.com","dev@api.it");
         return new ApiInfo(
             "$collection_name.replace(".", "_")",
             "API REST ",
             "1.0",
             "",
             contactInfo,
             "OpenSource - Apache 2.0",
             "http://www.apache.org",
             vendorExtensions);
       }
}
